body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.control-container {
    display: flex;
    background-color: white;
    gap: 0.5 rem;
    justify-content: center;
    left: 50%;
    position: fixed;
    padding: 0;
    top: 0px;
    transform: translateX(-50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid black;
    width: 100%;
    z-index: 100;
}

.control-container>* {
    padding: 0;
    margin: 0;
}

/* Lives Display */
.lives-display {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
}

.heart {
    font-size: 24px;
    color: red;
}

.heart.empty {
    color: #ccc;
}