/** Canvas to be fullscreen */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#control-container {
    display: flex;
    justify-content: center
}